*{
    padding: 0;
    margin: 0;
}
body{
    background-color:black;
    color: white;
}
.header{
    height:30px;
    /* border: 1px solid red; */
    display: flex;
    justify-content: space-between;
    padding:1rem;
    text-transform: capitalize;
    align-items: center;
    font-weight: bold;
}
.header .hsect1{
    display: flex;
    gap:4rem;
    align-items: center;
}
.header .name{
    font-size:20px;
}
.header .hire{
    background-color: rgb(241, 2, 14);
    padding:5px;
    border-radius:50px;
    border: none;
    width: 4rem;
    text-align: center;
}
.barIcon{
    display:none;
    margin-right: 1rem;
    /* width: 2rem; */
}
.header .opts:hover{
    border-bottom: 1px solid rgb(241, 2, 14);
    transform: scale(1.1);
    cursor: pointer;
}
/* .barIcon */
.toggle{
    display:none;
}
.barOption{
    position: absolute;
    color: white;
    right:1rem;
    display:flex;
    flex-direction: column;
    top: 4rem;
    gap:1rem;
    background-color:rgba(27, 26, 26, 0.877);
    padding:10px;
    text-align:center;
    border-radius: 5px;
    border:1px solid rgba(255, 255, 255, 0.103);
}
.barOption .h-hover:hover{
    transform: scale(1.1);
    cursor: pointer;
}

/* section1 */
.container{
    padding: 1rem;
}
.cont1{
    margin-top:10vh;
    display:flex;
    justify-content:space-around;
    align-items: center;
    gap: 4rem;
    flex-wrap: wrap;
    align-content: center;
}
.picBox{
    height:350px;
    width: 280px;
    background-image: url("img-source/1727856828862-removebg-preview.png");
    background-size: cover;
    /* border:1px solid blue; */
    border-radius:50%;
    box-shadow:0px 20px 20px 10px rgb(241, 2, 14);
}
.meAbout{
    text-transform: capitalize;
    /* border: 1px solid green; */
}
.bio{
    margin-top:5px;
}
.contact{
    display:flex;
    gap:2rem;
    margin-top:1rem;
    align-items: center;
}
.cv{
    /* background-color:red; */
    color:white;
    padding:1px;
    border-radius: 5px;
    font-weight: bold;
    width:2.5rem;
    font-size: small;
}
.contact div:hover{
    transform: scale(1.2);
}

/* section2 */
.skillContainer{
    margin-top:15vh;
    padding: 1rem;
    text-transform: capitalize;
}
.skillBox{
    display:flex;
    /* margin-top:15vh; */
    flex-wrap:wrap;
    justify-content:space-around;
    gap:2rem;
    /* padding: 1rem; */
}
.skillBox .box{
    width: 250px;
    /* height:100px; */
    border: 1px solid rgba(73, 73, 75, 0.336);
    background-color:rgba(31, 30, 30, 0.288);
    border-radius:10px;
    padding: 1rem;
}
.skillBox p{
    margin-top: 5px;
}
.skillBox .skillIcon{
    color:red;
    margin-bottom:10px;
    font-size:26px;
}

.skillBox .box:hover{
    transform: scale(1.05);
}

/* footer */
footer{
    margin-top:2rem;
    border-top: 1px solid rgba(73, 73, 75, 0.336);
    background-color:rgba(31, 30, 30, 0.288);
    text-transform: capitalize;
    color: aliceblue;
    padding: 10px;
}
.footerSect1{
    display: flex;
    justify-content:center;
    gap: 2rem;
    padding: 5px;
    align-items: center;
}
.fContact{
    display: flex;
    gap: 2rem;
    padding: 5px;
}
.footerSect2{
    display: flex;
    justify-content: center;
    /* text-align: center; */
    font-size: 15px;
}

/* mediaQuery */
@media(min-width:800px){
    .barOption{
        display:none;
    }
}
@media(max-width:800px){
  .barIcon{
    display:block;
    font-size: large;
  }
  .opts{
    display:none;
  }

}
