*{
    padding: 0;
    margin: 0;
}
body{
    background-color:black;
    color: white;
}

.header{
    height:30px;
    /* border: 1px solid red; */
    display: flex;
    justify-content:space-between;
    padding:1rem;
    text-transform: capitalize;
    align-items: center;
    font-weight: bold;    
    font-size:19px;
}
.header .hsect1{
    display: flex;
    gap:4rem;
    align-items: center;
    /* position: fixed; */
}
.header .name{
    font-size:20px;
}
.header .hire{
    background-color:red;
    padding:5px;
    border-radius:50px;
    border: none;
    width: 4.5rem;
    text-align: center;
}
.barIcon{
    display:none;
    margin-right: 1rem;
    /* align-content: center; */
}
.barIcon i{
    font-size:24px;
}
.header .opts:hover{
    border-bottom: 1px solid rgb(241, 2, 14);
    transform: scale(1.1);
    transition:0.4s;
    cursor: pointer;
}
/* .barIcon */
.toggle{
    display:none;
}
.barOption{
    position: absolute;
    z-index:1;
    color: white;
    right:1rem;
    display:flex;
    flex-direction: column;
    top: 4rem;
    gap:1rem;
    background-color:rgba(27, 26, 26, 0.877);
    padding:10px;
    text-align:center;
    border-radius: 5px;
    border:1px solid rgba(255, 255, 255, 0.103);
    font-size:18px;
}
.barOption .h-hover:hover{
    transform: scale(1.1);
    transition:0.3s;
    cursor: pointer;
}

/* section1 */
.container{
    padding: 1rem;
}
.cont1{
    margin-top:10vh;
    display:flex;
    justify-content:space-around;
    align-items: center;
    gap: 4rem;
    flex-wrap: wrap;
    align-content: center;
}
.picBox{
    height:350px;
    width: 280px;
    background-image: url("img-source/1727856828862-removebg-preview.png");
    background-size: cover;
    /* border:1px solid blue; */
    border-radius:50%;
    box-shadow:0px 20px 20px 10px rgb(241, 2, 14);
}
.meAbout{
    text-transform: capitalize;
}

.bio{
    margin-top:5px;
}
.contact{
    display:flex;
    gap:2rem;
    margin-top:1rem;
    align-items: center;
}
.cv{
    /* background-color:red; */
    color:white;
    padding:1px;
    border-radius: 5px;
    font-weight: bold;
    width:2.5rem;
    font-size: small;
}
.contact div:hover{
    transform: scale(1.2);
}

/* section2 */
.skillContainer{
    margin-top:15vh;
    padding: 1rem;
    text-transform: capitalize;
}
.skillBox{
    display:flex;
    /* margin-top:15vh; */
    flex-wrap:wrap;
    justify-content:space-around;
    gap:2rem;
    /* padding: 1rem; */
}
.skillBox .box{
    width: 250px;
    /* height:100px; */
    border: 1px solid rgba(73, 73, 75, 0.336);
    background-color:rgba(31, 30, 30, 0.288);
    border-radius:10px;
    padding: 1rem;
}
.skillBox p{
    margin-top: 5px;
}
.skillBox .skillIcon{
    color:red;
    margin-bottom:10px;
    font-size:26px;
}

.skillBox .box:hover{
    transform: scale(1.05);
}

/* footer */
footer{
    margin-top:2rem;
    border-top: 1px solid rgba(73, 73, 75, 0.336);
    background-color:rgba(31, 30, 30, 0.288);
    text-transform: capitalize;
    color: aliceblue;
    padding: 10px;
    background:linear-gradient(rgba(31, 30, 30, 0.288),rgb(0, 0, 0));
}
.footerSect1{
    display: flex;
    justify-content:center;
    gap: 2rem;
    padding: 5px;
    align-items: center;
}
.fContact{
    display: flex;
    gap: 2rem;
    padding: 5px;
}
.footerSect2{
    display: flex;
    justify-content: center;
    /* text-align: center; */
    font-size: 15px;
}
/* section3  */
section3{
    display: none;
}
.edu-container{
    /* margin:4rem 1rem 4rem 1rem; */
    display: flex;
    justify-content: center;
    
}
.eduSect1{
    width:100%;
    border-radius:10px;
    background-color:rgba(31, 30, 30, 0.288);
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-transform: capitalize;
    background: linear-gradient(black,rgba(0, 0, 255, 0.562),rgba(131, 22, 153, 0.226),black);
    flex-wrap: wrap;
    padding: 1rem;
}
.eduSect2{
    border-radius:50%;
    background-color: rgba(241, 2, 14, 0.671);
    justify-content: center;
    box-shadow:0px 10px 30px 10px rgba(241, 2, 14, 0.671);
    font-size: large;
    display: flex;
    flex-direction: column;
    gap:1rem;
    text-shadow: 0px 5px 10px black;
    padding: 1rem;
}
.edu-img{
  width:300px;
  height:300px;
}
.edu-img img{
    width: 100%;
}
.eduSect2 li{
    padding: 5px;
}

/* section4 */
section4{
    display:none;
}
.proMainContainer{
    /* padding-top:2rem; */
    padding:1rem;
}

.proContainer{
    margin-top:2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap:2.5rem;
}
.proContainer .proBox{
    width:300px;
    height:200px;
    border: 1px solid red;
    border: 1px solid rgba(73, 73, 75, 0.336);
    border-radius:10px;
    background-color:rgba(31, 30, 30, 0.288);
    /* padding:5px; */
    position: relative;
}
.proContainer .overlay{
    width: 100%;
    position: absolute;
    inset:0;
    color: white;
    text-align: center;
    align-content: center;
    opacity:0;
    backdrop-filter:blur(0px);
     background:rgba(0,0,0,0.3);
     transition:0.4s ease;
     border-radius: 10px;
     text-shadow:5px 10px 10px black;
}
.proContainer:hover .overlay:hover{
    opacity:1;
    backdrop-filter:blur(3px);
}
.proBox:hover{
    transform: scale(1.08);
    transition:0.4s ease;  
}
.calcuBox{
    background-image:url("img-source/calculators.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.weatherBox{
    background-image:url("img-source/weather.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.watchBox{
    background-image:url("img-source/watch.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.spotifyBox{
    background-image:url("img-source/spotify.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.gmailBox{
    background-image:url("img-source/gmail.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.touristBox{
    background-image:url("img-source/tourist.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.rpscBox{
    background-image:url("img-source/2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
.amazonBox{
    background-image:url("img-source/amazon.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
/* section5 contact*/
section5{
    display: none;
}
.coContainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
    padding: 1rem;
    /* border: 1px solid red; */
    background:linear-gradient(rgba(0, 0, 0, 0.966),rgba(140, 0, 255, 0.123),rgba(0, 0, 0, 0.226));
}
.coContainer h3{
    font-size:35px;
    margin: 1rem;
    color: white;
    text-transform: capitalize;
}
.coContainer .box{
    width:50%;
    display:flex;
    flex-direction:column;
    /* border: 1px solid green; */
    border-radius:10px;
}
.coContainer .box label{
    padding:3px 5px 0px 8px;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: red;
}
.coContainer .inptBox{
    padding: 1.3rem 1rem 1.3rem 1rem;
    outline: none;
    font-size: large;
    font-weight: bold;
    border-radius: 10px;
    background-color: white;
    color: black;
    border: none;
    box-shadow:0px 5px 15px 0px rgb(61, 58, 58);
}

.coContainer  .inptBox:hover{
    transform: scale(1.02);
    transition:0.3s;
}
.coContainer textarea{
    height:25vh;
    font-size: small;
}
.coContainer .cButton{
    padding: 10px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    border:none;
    background-color: rgb(255, 0, 0);
    color:white;
    font-size:15px;
    text-transform: capitalize;
}
.coContainer .cButton:active{
    transform: scale(1.1);
}

/* about SECTION 6 */
section6{
    display: none;
}
.aboutMain{
    display:flex;
    flex-direction: column;
    /* border:1px solid blue; */
    padding-top:2rem;
}
.aboutSect1{
    display:flex;
    justify-content: center;
    text-transform: capitalize;
    flex-wrap: wrap;
    /* border: 1px solid blue; */
    padding: 1rem;
}
.aboutSect1 .aboutBox1{
    width:45%;
    padding: 1rem;
    /* border: 1px solid red; */
}
.aboutSect1 .imgSetup{
    text-align: center;
}
.aboutSect1 .aboutUs{
    align-content: center;
    font-weight: 600;
    font-size:50px;
    text-align: center;
    padding-bottom:3.5rem;
}
.aboutSect1 .paraBox{
    /* border: 1px solid green; */
    border: 1px solid rgba(73, 73, 75, 0.336);
    border-radius:10px;
    background-color:rgba(31, 30, 30, 0.288);
}
/* sectionNext */
.aboutSect1 .eduBox{
    align-content: center;
}
.sect6Headline{
    text-decoration: underline ;
    font-size:20px;
    font-weight:bold;
    padding-bottom:0.5rem;
    text-transform: capitalize;
}
.aboutSect1 .eduBox ul li{
    padding:5px;
    list-style: linear-gradient(red);
}

/* sectNext1 */
.skill-mention{
    text-transform: capitalize;
    padding: 1rem;
    /* border: 1px solid green; */
}
.skillSect1{
    padding: 1rem;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 2rem;
}
.skillSect1 ul li{
    padding: 5px;
    list-style:linear-gradient(red);
    list-style-type: style circle;;
}
.skillGraph{
    display:flex;
   padding-top:1rem;
   align-items: center;
   font-weight: 600;
}
.skillGraph .htmlGraph{
    width:10rem;
    height:6px;
    background-color: red;
}
.skillGraph .cssGraph{
    width:6rem;
    height:6px;
    background-color: red;
}
.skillGraph .jsGraph{
    width:8rem;
    height:6px;
    background-color: red;
}
/* sectNext2 */
.career-obj{
    display:flex;
    justify-content:space-around;
    padding:1rem;
    gap: 1rem;
    flex-wrap: wrap;
    align-items: center;
}
.c-o-box{
    width:500px;
    /* border: 1px solid red; */
}
.career-obj img{
    width:100%;
}

/* sect 7 hire me */

/* mediaQuery */
@media(min-width:950px){
    .barOption{
        display:none;
    }
}
@media(max-width:950px){
  .barIcon{
    display:block;
    font-size: large;
  }
  .opts{
    display:none;
  }
}

/* contact */
@media(max-width:600px){
.cont1{
    margin-top:10px;
}
.coContainer  .box{
    width:100%;
}
.coContainer .inptBox{
    font-size:15px;
}
.coContainer .box label{
    font-size: 13px;
}
}

/* section6 */
@media(max-width:600px){
.aboutSect1 .aboutBox1{
    width:300px; 
}
}
